# PHP
/vendor/

# dev notes
dev-notes/

# cache
.phpunit.cache/

# Database
# Replace tracked SQLite DB with schema/seed before Docker.
# Then exclude:
/data/packages.db
/data/packages.backup.db

# Ignore coverage/
coverage/

# Ignore the Vite cache
/frontend/.vite/

# Frontend
/frontend/node_modules
/frontend/dist
/frontend/dist-ssr
*.local

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*


# Editor directories and files
.vscode/
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# OS
.DS_Store